---
import config from "@config/config.json";
import Blockquote from "@shortcodes/Blockquote";
import { Image } from "@astrojs/image/components";

const {
  call_to_action: {
    title,
    img_src,
    button: { label, link },
  },
} = config;
---

<section class="px-5 py-20 xl:py-[120px]">
  <div class="container">
    <div
      class="bg-gradient row justify-center rounded-b-[80px] rounded-t-[20px] px-[30px] pb-[75px] pt-16"
    >
      <div class="lg:col-11">
        <div class="row">
          <div class="lg:col-7">
            <Blockquote name="Albert Einstein"><p>{title}</p></Blockquote>
            <!-- <a class="btn btn-white mt-8" href={link}>{label}</a> -->
          </div>
          <div class="flex mt-8 lg:col-5 lg:mt-0 items-center justify-center">
            <Image class="object-contain" src={img_src} width={600} height={576} alt="Albert Einstein"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
