<div class="tab-pane fade active in" id="profil">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Identitas Sekolah</div>
                <div class="panel-body">
                    <p><strong>NPSN : </strong> 20542468 </p>
                    <p><strong>Status : </strong>Negeri</p>
                    <p><strong>Bentuk Pendidikan : </strong>SMP</p>
                    <p><strong>Status Kepemilikan : </strong>Pemerintah Daerah</p>
                    <p><strong>SK Pendirian Sekolah : </strong>Nomor 51 Tahun 2021</p>
                    <p><strong>Tanggal SK Pendirian : </strong>2021-11-01</p>
                    <p><strong>SK Izin Operasional : </strong>188.45/531/406.001.3/2022</p>
                    <p><strong>Tanggal SK Izin Operasional : </strong>2022-09-14</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Data Pelengkap</div>
                <div class="panel-body">
                    <p><strong>Kebutuhan Khusus Dilayani : </strong>Tidak ada</p>
                    <p><strong>Nama Bank : </strong>BPD JAWA TIMUR...</p>
                    <p><strong>Cabang KCP/Unit : </strong>BPD JAWA TIMUR CABANG  TRENGGALEK...</p>
                    <p><strong>Rekening Atas Nama : </strong>SMPNSATUATAP1DONGKO...</p>
                    <!-- <p><strong>Luas Tanah Milik : </strong>3</p>
                    <p><strong>Luas Tanah Bukan Milik : </strong>0</p> -->
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">Data Rinci</div>
                <div class="panel-body">
                    <p><strong>Status BOS : </strong>Bersedia Menerima</p>
                    <p><strong>Waku Penyelenggaraan : </strong>Pagi</p>
                    <p><strong>Sertifikasi ISO : </strong>Belum Bersertifikat</p>
                    <p><strong>Sumber Listrik : </strong>PLN</p>
                    <p><strong>Daya Listrik : </strong>900</p>
                    <p><strong>Kecepatan Internet : </strong>300 Mb</p>
                </div>
            </div>
        </div>
    </div>

</div>